/*
    CORES:
    -  PRATA:b5bec5
    -  PRETO:02070a
    -  AZUL:0edad4
    -  BRANCO:f2f4f3
*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Momo+Trust+Display&display=swap');
span{
    font-family: 'Momo Trust Display', sans-serif;
}

#perfil{
    clip-path: circle(77% at 70% 29%);
}

.fundo{
    background-image: url("/img/perfil.jpeg");
    /* background-color: aqua; */
}

*{
    font-family: 'IBM Plex Sans', sans-serif;
}