/*Imports*/
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap');

@font-face {
	font-family: 'Milkshake';
	src: url('fonts/Milkshake400.ttf'); 
}
*{
	/*border: 1px solid white;*/
}
body{
	background: rgb(238,31,155);
	background: linear-gradient(0deg, rgba(238,31,155,0.76) 0%, rgba(108,83,181,1) 50%);
	font-family: Milkshake;
	width: 100%;
	height: 100vh;
	font-size: 6em;
	overflow: hidden;
	background-repeat: no-repeat;
}
img{
	opacity: 0.05;
	width: 100vw;
	height: 100%;
}
h1{
	font-size: 75%;
	color: #FACACD;
}
.elements{
	position: absolute;
	top: 30%;
	left: 0%;
	right: 0%;
	/*border: 1px solid white;*/
}
.subelements{
	margin-top: 10%;
	background: #FACACD;
	text-align: center;
}
input{
	font-family: 'Amatic SC', cursive;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 30%;
	color: #6c53b5;
	font-weight: bold;
	border: 1px solid #FACACD;
}
.button:hover{
	background-color: #be54b4;
	color: #FACACD;
}
@media (max-width: 480px){
	h1{
		font-size: 50%;
	}
	.subelements{
		margin-top: 0%;
	}
	input{
		font-size: 20%;
	}
}
