/*Imports*/
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap');


@media (min-width: 740px) and (max-width: 1800px){
@font-face {
	font-family: 'Milkshake';
	src: url('fonts/Milkshake400.ttf'); 
}

body{
	background: rgb(238,31,155);
	background: linear-gradient(0deg, rgba(238,31,155,0.76) 0%, rgba(108,83,181,1) 50%);
	font-family: Milkshake;
	min-height: 100%;
	font-size: 4em;
}
*{
	margin: 0px;
	padding: 0px;
}
img{
	display: inline-block;
	opacity: 0.05;
	width: 100%;
	height: 100%;
}
.welcome{
	color: #FACACD;
}
.elements{
	position: absolute;
	top: 20%;
	left: 30%;
	right: 30%;
	bottom: 20%;
	font-size: 100%;
}
input{
	font-size: 20pt;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 40%;
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	background-color: #FACACD;
	color: black;
	padding: 5px;
	border: 1px solid pink;
}
.button{
	/*background: #6c53b5; */ 
	padding: 5px;
}
.button:hover{
	border: 1px solid hotpink;
	background-color: hotpink;
}
}